body {
  padding-top: 8px;
  padding-bottom: 20px;
}

.container1{ margin: 0 auto; width: 730px; background:#efefef}
.row-top{width: 100%;}
.col-left-reg{ float: left; width: 25%;}
.pad-left-right{padding-left: 0px; padding-right: 0px;}
.form{float: left; width: 100%;}
.col-center{float: left; width: 50%;}
.logo{ width: 100%; height: auto;}
.col-pic{float: left; width: 25%;}
.pic{ float: right; width: 130px; height: 154px; border: 1px solid #000;}
.pic img{width: 100%; height: auto;}
.terms{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.terms ul{list-style-type:decimal;}
.terms ul li{ margin-bottom: 7px;}
.detail{ width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.detail h2{margin: 0 0 5px 0; font-family: "Times New Roman", Georgia, Serif;}
.span{ background: #f5f5f5; padding:5px; margin: 0px;}

.d-line{width: 100%; float: left; background:#f5f5f5; padding:3px; margin-top:5px;}
.d-line span{padding:3px; font-weight: bold}
.half-left{ float: left; width: 60%; }
.half-right{ float: left; width: 40%; }
.membership{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.membership h2{margin: 5px 0 5px 0; font-family:"Times New Roman", Georgia, Serif; font-size:14pt}
.p-d1{float: left; width: 30%;}
.p-d2{float: left; width: 30%;}
.p-d3{float: left; width: 40%;}
.p-d21{float: left; width: 25%;}
.p-d22{float: left; width: 25%;}
.p-d23{float: left; width: 25%;}
.p-d24{float: left; width: 25%;}
.bill-d{width: 100%; float: left; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:9pt}
.bill-d h2{margin: 5px 0 5px 0; font-family:"Times New Roman", Georgia, Serif; font-size:14pt}
.bill-d h3{margin: 5px 0 2px 0; font-family:"Times New Roman", Georgia, Serif; font-size:16pt}
#b-line{width: 100%; float: left; padding:3px; margin-top:5px;}
.b-d-left{float: left; width: 45%;background:#f5f5f5; }
.b-d-right{float: right; width: 43%;background:#f5f5f5; }
#b-line span{padding:3px; font-weight: bold}
.b-d-sign{float: right; width: 43%; }
.sign{ border-top: 1px solid #000; padding-top: 10px; text-align: center}

.row-top {
		  margin-bottom:10px;
}

.col-top-1 {border-right: 1px solid #cccccc;
		 
}
.cat-form{ border-bottom: 1px solid #000; display: inline; }

.text-center{ text-align:center;}









@media print {
    .col-md-3{width: 25%;}
	.col-md-6{width: 50%;}
	
	
}














.cal-bottom{margin-bottom:8px;}



.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.calculator-button {
	
}

.calculator-button,
.calculator-button:focus {
	background-color: rgb(233,76,111);
    padding: 21px;
    font-size: 26px;
}

.calculator-button:hover {
	background-color: rgb(198,213,205);
}

.calculator-button,
.calculator-button:hover,
.calculator-button:focus {
	border:none;
	outline:none;
}

#outer-calc {
	background-color: rgb(84,39,51);
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px
}

.button-column{
margin-bottom: 8px;
}
.p-btn-column{
padding: 2px 1px;
}

.amount {
    color: #fff;
    background-color: orange;
    border-color: orange;
}

.liter {
    color: #fff;
    background-color: #60c441;
    border-color: #60c441;
}

.rate {
    color: #fff;
    background-color: #434343;
    border-color: #434343;
}
.bottom{    margin-bottom: 7px;}













.navbar {
  margin-bottom: 20px;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    border-top: 1px solid #eee;
	background: #f8f8f8;
	text-align: center;
}