#hiderow,
.delete {
  display: none;
}
@media print
{    
    #w0
    {
        display: none !important;
    }
	.img-responsive
    {
        display: none !important;
    }
	.btn
    {
        display: none !important;
    }
	.breadcrumb
    {
        display: none !important;
    }
	.footer
    {
        display: none !important;
    }
}